<ion-card class="devices-card">
  <ion-card-header>
    <ion-item lines="none">
      <ion-label class="title" slot="start"> Etaj cu o cameră </ion-label>
      <label class="switch" slot="end">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <ion-card class="device">
      <div class="blur-buletpoint"></div>
      <div class="buletpoint"></div>
      <ion-card-header>
        <ion-icon src="/assets/images/light-bulb device.svg"></ion-icon>
        <ion-card-subtitle class="devices-name">Birou parter</ion-card-subtitle>
      </ion-card-header>
      <div class="device-card-content">
        <div class="row1">
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 1
          </ion-label>
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 2
          </ion-label>
        </div>
        <div class="row 2">
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 3
          </ion-label>
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 4
          </ion-label>
        </div>
      </div>
    </ion-card>

    <ion-card class="device">
      <div class="blur-buletpoint"></div>
      <div class="buletpoint"></div>
      <ion-card-header>
        <ion-icon src="/assets/images/light-bulb device.svg"></ion-icon>
        <ion-card-subtitle class="devices-name">Birou parter</ion-card-subtitle>
      </ion-card-header>
      <div class="device-card-content">
        <div class="row1">
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 1
          </ion-label>
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 2
          </ion-label>
        </div>
        <div class="row 2">
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 3
          </ion-label>
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 4
          </ion-label>
        </div>
      </div>
    </ion-card>
    <ion-card class="device">
      <div class="blur-buletpoint"></div>
      <div class="buletpoint"></div>
      <ion-card-header>
        <ion-icon src="/assets/images/light-bulb device.svg"></ion-icon>
        <ion-card-subtitle class="devices-name">Birou parter</ion-card-subtitle>
      </ion-card-header>
      <div class="device-card-content">
        <div class="row1">
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 1
          </ion-label>
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 2
          </ion-label>
        </div>
        <div class="row 2">
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 3
          </ion-label>
          <ion-label>
            <ion-icon
              class="detail-icon"
              src="/assets/images/detail-icon.svg"
            ></ion-icon>
            Detail 4
          </ion-label>
        </div>
      </div>
    </ion-card>
  </ion-card-content>
</ion-card>
